@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo2 {
    width: 60px;
    height: 50px;
}
.bg-custom_nav {
    background-color: white;
}

.logo {
    margin-left: 20px;
}
/* Slider Start */
.desc_ban {
    padding: 50px;
    margin-left: 60px;
}
.ban_img {
    margin-top: 20px;
    height: 90vh;
}
.custom_cur {
    background-color: #f0f2f5;
}
.ban_head {
    color: #0d6efd;
}
.btn-custom {
    background-color: #0d6efd;
    color: white;
}

.log_reg {
    color: black;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
}
.log_reg:hover {
    color: black;
}

.drop_username {
    margin-left: 4px;
    color: #0d6efd;
    padding: 5px;
    font-family: "Roboto", sans-serif;
}
.drop_log_link {
    background-color: #0d6efd;
}
.drop_log_link:hover {
    background-color: #0f4f92;
}
.nav_lnk {
    font-weight: bolder;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
body,
button {
    font-family: "Inter", sans-serif;
}
:root {
    --offcanvas-width: 270px;
    --topNavbarHeight: 56px;
}
.sidebar-nav {
    width: var(--offcanvas-width);
}
.sidebar-link {
    display: flex;
    align-items: center;
}
.sidebar-link .right-icon {
    display: inline-flex;
}
.sidebar-link[aria-expanded="true"] .right-icon {
    transform: rotate(180deg);
}
@media (min-width: 992px) {
    body {
        overflow: auto !important;
    }
    main {
        margin-left: var(--offcanvas-width);
    }
    /* this is to remove the backdrop */
    .offcanvas-backdrop::before {
        display: none;
    }
    .sidebar-nav {
        -webkit-transform: none;
        transform: none;
        visibility: visible !important;
        height: calc(100% - var(--topNavbarHeight));
        top: var(--topNavbarHeight);
    }
}
.card_link {
    color: white;
    text-decoration: none;
}
.card_link:hover {
    color: wheat;
}

.card_border_market {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.card_img_producr {
    height: 230px;
    padding: 20px;
}
.shop_image_single {
    max-width: 100%;
    margin: auto;
}
